<h1 class="centrado">Editar Cliente</h1>

<% form_tag :action => 'update', :id => @cliente, :id_negocio => @negocio do %>
  <%= render :partial => 'formall' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
