<h1>Editar cliente</h1>

<% form_tag :action => 'update', :id => @cliente do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Editar' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @cliente %> |
<%= link_to 'Back', :action => 'list' %>
