<h1 class="centrado">Editar Cliente</h1>

<% form_tag :action => 'updatec', :id => @cliente do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Regresar', :action => 'show', :id => @cliente %>
