<h2>Historial del Cliente:</h2>

<!-- Form para agregar buscar pagos por dia -->
<% form_tag :action => 'consultar_individual' do -%>
<%= error_messages_for 'cliente' %>
<br />
<h3>RFC:<br/>
<%=text_field 'cliente', 'rfc', :class => 'text' %></h3>
<br />
<!--[eoform:movimiento]-->
<%= submit_tag "Buscar" %>
<% end %>

