<h1>Historico del cliente en grupos</h1>

<%@grupos.each do |grupo|%>

<h3>Nombre del grupo: <%=grupo.grupo.nombre%></h3>
<h4>Fecha Inicio: <%=grupo.fecha_inicio.strftime("%d/%m/%Y") if grupo.fecha_inicio%></h4>
<h4>Fecha fin: <%=grupo.fecha_fin.strftime("%d/%m/%Y") if grupo.fecha_fin%> </h4>
<%if grupo.activo==0%>
  <h4>Estatus: Inactivo</h4><br />
<%else%>
  <h4>Estatus: Activo</h4><br />
<%end%>

<%end%>
