<h1 class="centrado">Alta Cliente</h1>

<% form_tag :action => 'create' do%>
  <%= render :partial => 'formall' %>
  <%= submit_tag "Guardar" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
