<h1>Cliente</h1>

<% form_tag :action => 'new', :controller => 'negocios' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Guardar" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
