<h1 style=" text-align: center;">Alta Cliente</h1>

<% form_tag :action => 'create' do%>
  <%= render :partial => 'formall' %>
<table  class="botones">
  <tr class="botones">
    <th class="botones"><%= link_to 'Regresar', :action => 'list' %></th>
    <th class="botones">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class="botones"><%= submit_tag "Agregar", :onclick => "return comprobar();" %></th>
</tr>
</table>
<% end %>