<%= error_messages_for 'periodo' %>

<!--[form:periodo]-->
<table>
  <tr>
    <th>Nombre:</th>
    <th>Dias:</th>
  </tr>
  <tr>
    <td><%= text_field 'periodo', 'nombre', :onkeypress => "return CharNum(event, 'letra');", :class => "text"  %></td>
    <td><%= text_field 'periodo', 'dias', :onkeypress => "return CharNum(event, 'numero');", :class => "text"  %></td>
  </tr>
</table>
<!--[eoform:periodo]-->

