<%= error_messages_for 'periodo' %>

<!--[form:periodo]-->
<table>
  <tr>
    <th>Nombre:</th>
    <th>Dias:</th>
  </tr>
  <tr>
    <th><%= text_field 'periodo', 'nombre'  %></th>
    <th><%= text_field 'periodo', 'dias'  %></th>
  </tr>
</table>
<!--[eoform:periodo]-->

