<%= error_messages_for 'periodo' %>

<!--[form:periodo]-->
<p><label for="periodo_nombre">Nombre</label><br/>
<%= text_field 'periodo', 'nombre'  %></p>

<p><label for="periodo_dias">Dias</label><br/>
<%= text_field 'periodo', 'dias'  %></p>
<!--[eoform:periodo]-->

