<h1 class="centrado">Editar Periodo</h1>

<% form_tag :action => 'update', :id => @periodo do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Rgresar', :action => 'list' %>
