<h1 class="centrado">Alta Periodo</h1>

<% form_tag :action => 'create', :onkeypress => 'return comprobar();' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Agregar" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
