<% for column in Periodo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @periodo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @periodo %> |
<%= link_to 'Back', :action => 'list' %>
