<% for column in Periodo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @periodo.send(column.name) %>
</p>
<% end %>

<%= button_to 'Editar', :action => 'edit', :id => @periodo %>
<%= link_to 'Regresar', :action => 'list' %>
