<div id="box">
  <div class="elements">
    <div class="avatar"></div>
    <% form_tag session_path do -%>
      <input type="text" name="login" id="login" class="username" placeholder="Username" />
      <input type="password" name="password" id="password" class="password" placeholder="•••••••••" />
      <div class="forget">
        <%#= flash[:notice] ><%= flash[:error] %>
      </div>
      <input type="submit" name="submit" class="submit" value="Entrar" />
      <%#= image_submit_tag ('entrar_boton.png') %>
    <% end -%>
  </div>
</div>