<%= error_messages_for 'municipio' %>

<!--[form:municipio]-->
<table>
  <tr>
    <th>Municipio:</th>
    <th>Clave Inegi:</th>
    <th>Estado:</th>
  </tr>
  <tr>
    <th><%= text_field 'municipio', 'municipio'  %></th>
    <th><%= text_field 'municipio', 'clave_inegi'  %></th>
    <th><%= collection_select("municipio", "estado_id", $estados, :id, :estado, :prompt => ">>Estado") %></th>
  </tr>
</table>
<!--[eoform:municipio]-->

