<% for column in Municipio.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @municipio.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @municipio %> |
<%= link_to 'Back', :action => 'list' %>
