<h1 class="centrado">Editar banco</h1>

<% form_tag :action => 'update', :id => @banco do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar cambios' %>
<% end %>

<%#= button_to 'Detalles', :action => 'show', :id => @banco %>
<%= link_to 'Regresar', :action => 'list' %>
