<h1>Listado de bancos</h1>

<!--inicia ajax -->


 <label for="searchtext">Búsqueda por nombre:</label>
<%= text_field_tag :searchtext %>
<%= observe_field(:searchtext,
                 :frequency => 0.25,
                 :update => :search_hits,
                 :with  => "searchtext",
                 :url => { :action => :live_search }) %>
<p>Search Results:</p>
<div id="search_hits"></div>

<!-- termina ajax -->

<%= button_to 'Nuevo banco', :action => 'new' %>

