<h1>Bancos</h1><br />
<% for column in Banco.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @banco.send(column.name) %>
</p>
<% end %>
<p>
  <b>Estado: </b> <%= @banco.municipio.estado.estado if @banco.municipio.estado%>
</p>
<p>
  <b>Municipio: </b> <%= @banco.municipio.municipio if @banco.municipio %>
</p>

<br />

<p><%= link_to 'Regresar', :action => 'list' %></p>

