<%= error_messages_for 'sucbancaria' %>

<!--[form:sector]-->
<table>
  <tr>
    <th>Sucursal:</th>
    <th>Banco:</th>
  </tr>
  <tr>
    <td><%= text_field 'sucbancaria', 'nombre', :class => "text"  %></td>
    <td><%= collection_select("sucbancaria", "banco_id", $bancos, :id, :nombre, {:prompt => "BANCOS"}, :class => 'text') %></td>
  </tr>
</table>
<!--[eoform:sector]-->

