<%= error_messages_for 'giro' %>

<!--[form:giro]-->
<table>
  <tr>
    <th>Giro:</th>
    <th>Codigo:</th>
    <th>Subsector:</th>
  </tr>
  <tr>
    <td><%= text_field 'giro', 'giro'  %></td>
    <td><%= text_field 'giro', 'codigo'  %></td>
    <td><%= collection_select('giro', 'subsector', Subsector.find(:all, :order => 'subsector'), :subsector, :subsector)  %></td>
  </tr>
</table>
<!--[eoform:giro]-->

