<%= error_messages_for 'giro' %>

<!--[form:giro]-->
<p><label for="giro_subsector">Subsector</label><br/>
<%= text_field 'giro', 'subsector'  %></p>

<p><label for="giro_codigo">Codigo</label><br/>
<%= text_field 'giro', 'codigo'  %></p>

<p><label for="giro_giro">Giro</label><br/>
<%= text_field 'giro', 'giro'  %></p>
<!--[eoform:giro]-->

