<h1>Giros</h1>
<br />
<% for column in Giro.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @giro.send(column.name) %>
</p>
<% end %>
<br />
<%#= button_to 'Editar', :action => 'edit', :id => @giro %>
<%= link_to 'Regresar', :action => 'list' %>
