<% for column in Giro.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @giro.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @giro %> |
<%= link_to 'Back', :action => 'list' %>
