<table width="65%" border="0" cellspacing="0">
  <tr align="center">
    <th>Menú de Administración</th>
  </tr>
</table>
<br />

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
       <td>
         <a href="/admin/show_roles" title="Administración de Perfiles y Usuarios">
          <img src="/images/usuarios.png" width="128" height="128" alt="administración de perfiles y usuarios" />
         </a>
       </td>

       <!--
       <td>
         <a href="/admin/show_roles" title="Administración de Perfiles y Usuarios">
          <img src="/images/iconos/control_usuarios.png" width="128" height="128" alt="administración de usuarios" />
         </a>
       </td>
       -->
  </tr>
  <tr align="center">
    <td class="menu">Áreas y Usuarios</td>
    <!--
    <td class="menu">Perfiles y Usuarios</td>
    -->
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

</table>
