<h4 style=" font-family:  Helvetica;">Asignación de estatus y roles</h4>

  <!-- Filtro -->
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr>
      <th align="center"> <b>Filtro por perfil</b></th>
    </tr>
    <tr>
      <th align="center"><%= select :role, :id, Role.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Todos los roles'%></th>
    </tr>
  </table><br /><br />

<!-- contenido -->
<%= render :partial => "estatus_by_role"%>

<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "admin"%><br />



