<%= error_messages_for 'vivienda' %>

<!--[form:vivienda]-->
<table>
  <tr>
    <th>Tpo Vivienda:</th>
  </tr>
  <tr>
    <th><%= text_field 'vivienda', 'tipo_vivienda'  %></th>
  </tr>
</table>
<!--[eoform:vivienda]-->

