<%= error_messages_for 'vivienda' %>

<!--[form:vivienda]-->
<p><label for="vivienda_tipo_vivienda">Tipo vivienda</label><br/>
<%= text_field 'vivienda', 'tipo_vivienda'  %></p>
<!--[eoform:vivienda]-->

