<h1 class="centrado">Alta Vivienda</h1>

<% form_tag :action => 'create'  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Agregar", :onclick => "return comprobar();" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
