<% for column in Vivienda.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vivienda.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @vivienda %> |
<%= link_to 'Back', :action => 'list' %>
