table,tr,td,th{border-collapse:collapse;border-spacing:0;border:1px solid #d9d1cc;}
table{width:100%;margin:1em auto;background:#efeeff;}
caption{font-weight:bold;width:75%;margin:0 auto -1em;background:#ac1f0d;color:#efe;border-bottom:1px solid #d9d1cc;}
th{background:#b2b3a8;color:#333;border-bottom:1px solid #d9d1cc;}
tr{background:#feffee;color:#333;hover:expression(this.onmouseover=new Function("this.style.background='#d8d9cc';"),this.onmouseout=new Function("this.style.background='#feffee';"));}
tr:hover{background:#d8d9cc;}
td{padding-left:1em;text-align:left;}
a{color:#666;}
a:hover{color:#000;}