<%= error_messages_for 'sector' %>

<!--[form:sector]-->
<table>
  <tr>
    <th>Sector:</th>
  </tr>
  <tr>
    <th><%= text_field 'sector', 'sector'  %></th>
  </tr>
</table>
<!--[eoform:sector]-->

