<% for column in Sector.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sector.send(column.name) %>
</p>
<% end %>

<%= button_to 'Editar', :action => 'edit', :id => @sector %>
<%= link_to 'Regresar', :action => 'list' %>
