<h2>Selecciona la Línea de Fondeo:</h2>

<p>

<!-- Form para agregar buscar pagos por dia -->
<% form_tag :action => 'consultar' do -%>
<%= error_messages_for 'linea' %>

<p><label for="movimiento_fecha">Cuenta Cheques</label><br/>
<%= collection_select("linea", "cuenta_cheques", @lineas, :id, :cuenta_cheques)%></p>

<!--[eoform:movimiento]-->
<%= submit_tag "Buscar" %>
<% end %>
</p>
