<% for column in Linea.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @linea.send(column.name) %>
</p>
<% end %>

<%= button_to 'Editar', :action => 'edit', :id => @linea %>
<%= link_to 'Regresar', :action => 'list' %>
