<%= error_messages_for 'festivo' %>

<!--[form:festivo]-->
<table>
  <tr>
    <th>Fecha:</th>
    <th>Descripción:</th>
  </tr>
  <tr>
    <th><%= date_select 'festivo', 'fecha'  %></th>
    <th><%= text_field 'festivo', 'descripcion'  %></th>
  </tr>
</table>
<!--[eoform:festivo]-->

