<% for column in Festivo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @festivo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @festivo %> |
<%= link_to 'Back', :action => 'list' %>
