<%= error_messages_for 'subsector' %>

<!--[form:subsector]-->
<table>
  <tr>
    <th>Subsector:</th>
    <th>Sector:</th>
  </tr>
  <tr>
    <td><%= text_field 'subsector', 'subsector'  %></td>
    <td><%= collection_select('subsector','sector_id', Sector.find(:all, :order => "sector"), :id, :sector, :prompt => '>>Sector') %></td>
  </tr>
</table>
<!--[eoform:subsector]-->

