<%= error_messages_for 'grupo' %>

<!--[form:grupo]-->
<table>
  <tr>
    <th>Nombre:</th>
  </tr>
  <tr>
    <td><%= text_field 'grupo', 'nombre', :onkeypress => "return CharNum(event, 'letra');", :style => 'font-size:10px'  %></td>
  </tr>
</table>
<!--[eoform:grupo]-->

