<h2>Historial del Grupo:</h2>

<!-- Form para agregar buscar pagos por dia -->
<% form_tag :action => 'consultar' do -%>
<%= error_messages_for 'grupo' %>
<br />
<h3>Nombre del Grupo:<br/>
<%= collection_select("grupo", "id", $grupos, :id, :nombre) %></h3>
<br />
<!--[eoform:movimiento]-->
<%= submit_tag "Buscar" %>
<% end %>
