<h1>Grupos</h1>
<br />
<% for column in Grupo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @grupo.send(column.name) %>
</p>
<% end %>

<br/>
<br />
<h1>Integrantes</h1><br />

<%@grupo.clientes.each do |cliente|%>
  <h3><%=cliente.nombre_completo%></h3>
  <%end%>

<br />
<%= link_to 'Regresar', :action => 'list' %>
