

<table class="catalogos">
  <tr>
    <td><%=link_to 'Estado de Cuenta del Cliente', :action => "estado_cuenta"%></td>
  </tr>
  <tr>
    <td><%=link_to 'Pagos del día', :action => "pagos_dia"%></td>
  </tr>
  <tr>
    <td><%=link_to 'Estado de Cuenta de Linea de Fondeo', :action => "linea_fondeo"%></td>
  </tr>
</table>


