<h3><%=link_to 'Estado de Cuenta del Cliente', :action => "estado_cuenta"%></h3>
<h3><%=link_to 'Pagos del día', :action => "pagos_dia"%></h3>
<h3><%=link_to 'Estado de Cuenta de Linea de Fondeo', :action => "linea_fondeo"%></h3>

