<h1>Promotores</h1>
<br />
<% for column in Promotor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @promotor.send(column.name) %>
</p>
<% end %>
<br />
<%#= button_to 'Editar', :action => 'edit', :id => @promotor %>
<%= link_to 'Regresar', :action => 'list' %>
