<h1>Editing pagoslinea</h1>

<% form_tag :action => 'update', :id => @pagoslinea do %>
  <%= render :partial => 'form' %>
<table class="botones">
  <tr class="botones">
    <th class="botones"><%= link_to 'Regresar', :action => 'list' %></th>
    <th class="botones">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class="botones"><%= submit_tag 'Guardar', :onclick => "return comprobar();" %></th>
  </tr>
</table>
<% end %>