<h1>Nuevo Pago a Linea de fondeo</h1>

<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Guardar" %>
<% end %>
<br />
<h3><%= link_to 'Atras', :action => 'index', :controller=>"home"%></h3>
