<h2>El credito numero: <%=@credito.id%> ha sido activado</h2>
<br /><br />



<h2>Reportes</h2><br />

<h3><%=link_to 'Acta constitutiva'%></h3><br />
<h3><%=link_to 'Carta Compromiso'%></h3><br />
<h3>Contrato</h3<br />
<h3>Pagare</h3><br />
<h3>Recibo</h3><br />
<h3>Reglamento</h3><br />
