<h1>Editar credito</h1>

<% form_tag :action => 'update', :id => @credito do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Detalles', :action => 'show', :id => @credito %> |
<%= link_to 'Atras', :action => 'list' %>
