<p><h2><%=link_to 'Aplicar Transaccion', :action => "movimiento_credito"%></h2></p>
<p><h2><%=link_to 'Historico del crédito', :action => "busca_credito"%></h2></p>
<p><h2><%=link_to 'Alta de Crédito Individual', :action => "new_individual"%></h2></p>
<p><h2><%=link_to 'Alta de Crédito Grupal', :action => "new_grupal"%></h2></p>
<p><h2><%=link_to 'Listado de Créditos', :action => "list"%></h2></p>