<h1>Nuevo Crédito Grupal</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p><label for="cliente_civil">Grupo</label><br/>
      <%=collection_select("credito", "grupo_id", $grupos, :id, :nombre)%>
  </p>


  <%= submit_tag "Guardar" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
