<div class="page-title">
  <h1>CRÉDITO INDIVIDUAL</h1>
  <span>Alta</span>
</div>

<% form_tag :action => 'create_nuevo_algoritmo' do %>
  <%= render :partial => 'formindividual' %>
<table align="center">
  <tr>
    <td><%= image_submit_tag "/images/guardar.gif", :onclick => "return comprobar();", :class=> "button" %></td>
    <td>&nbsp;o&nbsp;</td>
    <td> <%= link_to image_tag("/images/cancelar.gif"), {:controller => 'home'}, :class=> "button"%></td>
  </tr>
</table>
<% end %>

