<% for column in Aval.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @aval.send(column.name) %>
</p>
<% end %>

<%= link_to 'Editar', :action => 'edit', :id => @aval %> |
<%= link_to 'Regresar', :action => 'list' %>
