<h1 class="centrado">Alta Producto</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Agregar" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
