<h1>Editing sucursal</h1>

<% form_tag :action => 'update', :id => @sucursal do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @sucursal %> |
<%= link_to 'Back', :action => 'list' %>
