<h1 class="centrado">Editar colonia</h1>

<% form_tag :action => 'update', :id => @colonia do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%#= link_to 'Detalles', :action => 'show', :id => @colonia %>
<%= link_to 'Regresar', :action => 'list' %>
