<h1>Colonias</h1>
<br />
<% for column in Colonia.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @colonia.send(column.name) %>
</p>
<% end %>
<p>
  <b>Estado: </b> <%= @colonia.ejido.municipio.estado.estado %>
</p>
<p>
  <b>Municipio: </b> <%= @colonia.ejido.municipio.municipio %>
</p>
<p>
  <b>Ejido: </b> <%= @colonia.ejido.ejido %>
</p>
<br />
<%#= button_to 'Editar', :action => 'edit', :id => @colonia %>
<%= link_to 'Regresar', :action => 'list' %>
