<% for column in Colonia.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @colonia.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @colonia %> |
<%= link_to 'Back', :action => 'list' %>
