<% for column in Movimiento.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @movimiento.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @movimiento %> |
<%= link_to 'Back', :action => 'list' %>
