<h1>Listing civils</h1>

<table>
  <tr>
  </tr>

<% for civil in @civils %>
  <tr>
    <td><%= link_to 'Show', civil %></td>
    <td><%= link_to 'Edit', edit_civil_path(civil) %></td>
    <td><%= link_to 'Destroy', civil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New civil', new_civil_path %>
