<h1>Editar cuenta de usuario</h1>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @banco %> |
<%= link_to 'Back', :action => 'list' %>
