<h2>REGISTRO DE USUARIOS</h2>

<% form_tag :action => 'signup', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<p>
<%= link_to 'Home', :action => 'index', :controller => "home"%>
</p>
