<html>
  <head>
    
  </head>  
  <body>
    <H2>CONTROL DE USUARIOS DEL MÓDULO DE EDUCACIÓN ESPECIAL </H2>
    <%=link_to 'Nuevo Usuario', :action=>'signup', :controller=>'account'%><br>
    <%=link_to 'Ver Usuarios', :action=>'ver_usuarios', :controller=>'account'%><br>
    <%=link_to 'Baja Usuario', :action=>'baja', :controller=>'account'%><br>

  </body>

</html>

