<%= error_messages_for 'garantia' %>

<!--[form:garantia]-->
<table>
  <tr>
    <th>Garantía:</th>
  </tr>
  <tr>
    <th><%= text_field 'garantia', 'garantia'  %></th>
  </tr>
</table>
<!--[eoform:garantia]-->

