<% for column in Garantia.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @garantia.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @garantia %> |
<%= link_to 'Back', :action => 'list' %>
