<% for column in Garantia.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @garantia.send(column.name) %>
</p>
<% end %>

<%= button_to 'Editar', :action => 'edit', :id => @garantia %>
<%= link_to 'Regresar', :action => 'list' %>
