<%= error_messages_for 'fondeo' %>

<!--[form:fondeo]-->
<table>
  <tr>
    <th>Fuente:</th>
  </tr>
  <tr>
    <th><%= text_field 'fondeo', 'fuente'  %></th>
  </tr>
</table>
<!--[eoform:fondeo]-->

