<%= error_messages_for 'fondeo' %>

<!--[form:fondeo]-->
<table>
  <tr>
    <th>Fuente:</th>
  </tr>
  <tr>
    <td><%= text_field 'fondeo', 'fuente', :onkeypress =>"return CharNum(event, 'letra');", :style => 'font-size:10px' %></td>
  </tr>
</table>
<!--[eoform:fondeo]-->

