<% for column in Fondeo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fondeo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fondeo %> |
<%= link_to 'Back', :action => 'list' %>
