<%= error_messages_for 'estado' %>

<!--[form:estado]-->
<table>
  <tr>
    <th>Nombre:</th>
  </tr>
  <tr>
    <th><%= text_field 'estado', 'estado'  %></th>
  </tr>
</table>
<!--[eoform:estado]-->

