<h1 class="centrado">Editar Estado</h1>

<% form_tag :action => 'update', :id => @estado do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
