<% for column in Estado.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @estado.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @estado %> |
<%= link_to 'Back', :action => 'list' %>
