<h2>Módulo de Administración</h2>

<p><h2><%=link_to 'Usuarios', :controller => "administracion", :action => "usuarios"%></h2></p>
<p><h2><%=link_to 'Permisos', :controller => "administracion", :action => "permisos"%></h2></p>


