<h1>Módulo de Administración</h1>

<table class="catalogos">
  <tr>
    <td><%=link_to 'Usuarios', :controller => "administracion", :action => "usuarios"%></td>
  </tr>
    <tr>
    <td><%=link_to 'Permisos', :controller => "administracion", :action => "permisos"%></td>
  </tr>
</table>


