<h1 style=" text-align: center">Control de Permisos</h1>
<table>
  <tr>
    <th><h3>Perfiles:</h3></th>
  </tr>
  <%for rol in Rol.find(:all)%>
  <tr>
    <td><%=link_to "#{rol.nombre.to_s.upcase}", :action=>"verifica_permisos", :controller=>"administracion", :id => rol%></td>
  </tr>
  <%end%>
</table>
<table class="botones">
  <tr class="botones">
    <th class="botones"><%=link_to 'Regresar', :action => "index", :controller => "home"%></th>
  </tr>
</table>