<h1 class="centrado">Editar Negocio</h1>

<% form_tag :action => 'update', :id => @negocio do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
<% end %>

<%= link_to 'Regresar', :action => 'show', :controller => 'clientes', :id => @negocio.cliente %>
