<h1>Alta Negocio</h1>

<% form_tag :action => 'create', :conroller => 'clientes' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Agregar", :onclick => "return comprobar();" %>
<% end %>

<%= link_to 'Regresar', :action => 'list' %>
