<h1>New negocio</h1>

<% form_tag :action => 'create', :conroller => 'clientes' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
