<%= error_messages_for 'cuenta' %>

<!--[form:cuenta]-->
<p><label for="cuenta_sCtaNum">Numero de Cuenta:</label><br/>
<%= text_field 'cuenta', 'sCtaNum'  %></p>

<p><label for="cuenta_sNombre">Nombre de la Cuenta</label><br/>
<%= text_field 'cuenta', 'sNombre'  %></p>
<!--[eoform:cuenta]-->

