<div class="page-title">
  <h1>CUENTAS CONTABLES</h1>
  <span>Alta</span>
</div>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
<table align="center">
  <tr>
    <td><%= image_submit_tag "/images/guardar.gif", :onclick => "return comprobar();", :class=> "button" %></td>
    <td>&nbsp;o&nbsp;</td>
    <td> <%= link_to image_tag("/images/cancelar.gif"), {:action => "list"}, :class=> "button"%></td>
  </tr>
</table>
<% end %>