<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Sistema de Creditos</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!--
  <= stylesheet_link_tag "default"%>
  <= stylesheet_link_tag "miestilo"%>
-->
  <%= stylesheet_link_tag "menu"%>
  <%= stylesheet_link_tag "style"%>
  <%= stylesheet_link_tag "validaciones"%>

  <%= stylesheet_link_tag "miestilo"%>
 


    <%= stylesheet_link_tag "validaciones"%>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'misfunciones' %>
    <%= javascript_include_tag :defaults %>


</head>

<body>
	<div id="site">
		<div id="header">
			<a href="#" class="logo"><img src="/images/mac/titulo.png" alt="setalpm" width="202" height="55" /></a>																																				<div class="inner_copy"><a href="http://www.greatdirectories.org/">web directories</a><a href="http://www.bestfreetemplates.info/">free CSS templates</a></div>
			<div id="menu">
				<ul>



					<li><a href="/home" class="but1 active"><img src="/images/mac/spacer.gif" alt="" width="106" height="42" /></a></li>
					<li><a href="/catalogos" class="but2"><img src="/images/mac/spacer.gif" alt="" width="118" height="42" /></a></li>
					<li><a href="/creditos/menu" class="but3"><img src="/images/mac/spacer.gif" alt="" width="106" height="42" /></a></li>
					<li><a href="/informacion" class="but4"><img src="/images/mac/spacer.gif" alt="" width="99" height="42" /></a></li>
					<li><a href="/administracion" class="but5"><img src="/images/mac/spacer.gif" alt="" width="154" height="42" /></a></li>
					
                                        <%if session['user']%>
                                        <li><a href="/account/logout" class="but7"><img src="/images/mac/spacer.gif" alt="" width="129" height="42" /></a></li>
				        <%else%>
                                          <li><a href="#" class="but6"><img src="/images/mac/spacer.gif" alt="" width="129" height="42" /></a></li>
                                        <%end%>

                                </ul>
				<form action="#">
					<input type="text" value="Buscar" />
				</form>
			</div>
			<ul id="meta">
				<li><a href="#" class="meta1"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
				<li><a href="#" class="meta2"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
				<li><a href="#" class="meta3"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
			</ul>
		</div>
		<div id="content">
			<div id="main">																																																																																																																											<div class="inner_copy"><a href="http://www.bestfreetemplates.org/">free templates</a><a href="http://www.bannermoz.com/">banner templates</a></div>
			<!--
                          <div class="current">
					<a href="#"><img src="/images/mac/principal.jpg" alt="" width="659" height="270" /></a><br />
					<p>Sistema de Créditos 1.0</p>
					<a href="#" class="current_link"><img src="/images/mac/spacer.gif" width="65" height="65" alt="" /></a>
				</div>
   -->
				<div class="post2">

					

                                        <%=yield%>
                                </div>
                                <!--
				<div class="post">
					<span>September 25th</span><br />
					<h5>Name Post 2</h5>
					<a href="#"><img src="/images/mac/pic2.jpg" alt="" width="269" height="101" /></a><br />
					<p>Illum secundum exerci erat plaga illum, enim, venio. Tamen causa ut diam torqueo sagaciter inhibeo si quae exerci lobortis. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo.</p>
					<a href="#" class="more"><img src="/images/mac/more.gif" alt="" width="102" height="21" /></a>
				</div>
                                -->
                                <!--
				<div class="post">
					<span>September 23th</span><br />
					<h5>Name Post 3</h5>
					<a href="#"><img src="/images/mac/pic3.jpg" alt="" width="269" height="101" /></a><br />
					<p>Illum secundum exerci erat plaga illum, enim, venio. Tamen causa ut diam torqueo sagaciter inhibeo si quae exerci lobortis. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo.</p>
					<a href="#" class="more"><img src="/images/mac/more.gif" alt="" width="102" height="21" /></a>
				</div>
				<div class="post">
					<span>September 20th</span><br />
					<h5>Name Post 4</h5>
					<a href="#"><img src="/images/mac/pic4.jpg" alt="" width="269" height="101" /></a><br />
					<p>Illum secundum exerci erat plaga illum, enim, venio. Tamen causa ut diam torqueo sagaciter inhibeo si quae exerci lobortis. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo.</p>
					<a href="#" class="more"><img src="/images/mac/more.gif" alt="" width="102" height="21" /></a>
				</div>
                                -->
			</div>
			<div id="sidebar">
                          
				<div class="block">
					<div class="news">
					
                                          <% unless session['user']%>
                                          <!-- formulario para inicio de sesion -->
                                          <% form_tag :action => 'login', :controller=>"account" do -%>
                                          <div title="Account login">

            <h2 align="center">REGISTRO</h2>
            <br>
            <% if @message %>
              <div id="message"><%= @message %></div><br>
            <% end %>
        <label for="user_login">Usuario:</label><br/>
              <input type="text" name="user_login" id="user_login" size="30" value=""/><br/>

              <label for="user_password">Contraseña:</label><br/>
              <input type="password" name="user_password" id="user_password" size="30"/>
        <br/>
        <input type="submit" name="login" value="Entrar" class="primary" />

  </div>

     <% end -%>
                                          
                                          <%end%>



						<!-- <a href="#" class="more"><img src="/images/mac/more.gif" alt="" width="102" height="21" /></a> -->
					</div>
				</div>
                          
                          

                          <!--
				<div class="sponsors">
					<img src="/images/mac/title1.gif" alt="" width="274" height="37" />
					<a href="http://www.bestfreetemplates.info" target="_blank"><img src="/images/mac/banner.jpg" alt="Best Free Templates" width="250" height="250" /></a>
				</div>
                          -->

                          <!-- Links
                               <div>
					<img src="/images/mac/title2.gif" alt="" width="274" height="37" />
					<ul class="popular">
						<li><a href="#">Tellus eros sodales enim</a></li>
						<li><a href="#">Sectetu adip scing varius interdum</a></li>
						<li><a href="#">Nulla pulvinar, nisl</a></li>
						<li><a href="#">Tellus eros sodales enim</a></li>
						<li><a href="#">Sectetu adip scing varius interdum</a></li>
						<li><a href="#">Nulla pulvinar, nisl</a></li>
						<li><a href="#">Tellus eros sodales enim</a></li>
						<li><a href="#">Nulla pulvinar, nisl</a></li>
						<li><a href="#">Sectetu adip scing varius interdum</a></li>
						<li><a href="#">Tellus eros sodales enim</a></li>
					</ul>
				</div>
                          -->
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<span>Copyright &copy; Derechos Reservados </span>
			<!--
                        <ul id="navigation">
				<li><a href="#">Home</a>|</li>
				<li><a href="#">About us</a>|</li>
				<li><a href="#">Gallery</a>|</li>
				<li><a href="#">News</a>|</li>
				<li><a href="#">Popular posts</a>|</li>
				<li><a href="#">Contact us</a>|</li>
				<li><a href="#" class="rss">RSS</a></li>
			</ul>
                      -->
		</div>
	</div>
</body>
</html>
