<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Sistema de Créditos</title>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <%= stylesheet_link_tag "style"%>

  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag :defaults %>

  </head>
  <body>
      <div id="site">
        <div id="header">
            <a href="#" class="logo"><img src="/images/mac/titulo.png" alt="setalpm" width="300px" height="43px" /></a>
            <div id="menu">
              <ul>
                <li><a href="/" class="but1 active"><img src="/images/mac/spacer.gif" alt="" width="106" height="42" /></a></li>
              </ul>
            </div>
            <ul id="meta">
              <li><a href="#" class="meta1"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
              <li><a href="#" class="meta2"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
              <li><a href="#" class="meta3"><img src="/images/mac/spacer.gif" alt="" width="37" height="39" /></a></li>
            </ul>
      </div>
      <div id="content">
          <div id="main">																																																																																																																											<div class="inner_copy"><a href="http://www.bestfreetemplates.org/">free templates</a><a href="http://www.bannermoz.com/">banner templates</a></div>
              <div class="current">
                  <a href="#"><img src="/images/mac/principal.jpg" alt="" width="659" height="270" /></a>
                  <p>Sistema de Créditos v1.0</p>
                  <a href="#" class="current_link"><img src="/images/mac/spacer.gif" width="65" height="65" alt="" /></a>
              </div>
          </div>
          <div id="sidebar">
              <div class="block">
                  <div class="news">
                    <% if session['user'].nil?%>
                    <!-- formulario para inicio de sesion -->
                      <% form_tag :action => 'login', :controller=>"account" do%>
                      <div title="Entrada">
                          <h2>L o g i n &nbsp d e &nbsp E n t r a d a</h2><br />
                          <label for="user_login">Usuario:</label><br />
                          <input type="text" name="user_login" id="user_login" size="25" value=""/><br/>
                          <label for="user_password">Contraseña:</label><br />
                          <input type="password" name="user_password" id="user_password" size="25" value=""/><br />
                          <p><input type="submit" name="login" value="E n t r a r" class="primary" /></p>
                      </div>
                      <%end%>

                    <%end%>
                </div>
            </div>
            <% if @message %>
              <div class="letra"> <%= @message %> </div>
            <% end %>
	</div>
      </div>
    </div>
    <div id="footer">
        <div>
            <span>Copyright &copy; Derechos Reservados </span>
        </div>
    </div>
</body>
</html>